<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8a14640-b2b4-47c4-b8cf-26586dfd966b" Alias="About " Level="2">
  <Info>
    <Parent Key="feceb34a-dbff-40c4-97a7-290e4dbcdfe8">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-09-29T00:57:48</CreateDate>
    <NodeName Default="About " />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3526e6d1-cf83-40a5-a933-dfa9e524d6b5">aboutPage</Template>
  </Info>
  <Properties>
    <aaronImage>
      <Value><![CDATA[[
  {
    "key": "541f4e7f-dd82-4248-9e76-6c6b93cf739a",
    "mediaKey": "043234dc-7d9b-48ec-bd5a-ba41b085a4da",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aaronImage>
    <aaronName>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </aaronName>
    <aaronPostion>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </aaronPostion>
    <aboutUsQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutUsQuote>
    <aboutUsSubText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </aboutUsSubText>
    <aboutUsThumbnail>
      <Value><![CDATA[[
  {
    "key": "8b27128e-199f-4494-8c3d-818081d8dd7e",
    "mediaKey": "38cfa791-a8d7-4483-9acb-4079504cfd69",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsThumbnail>
    <actionPlanExecution>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </actionPlanExecution>
    <ajImage>
      <Value><![CDATA[[
  {
    "key": "cf9459bc-7ed6-461c-88fd-e427743901a3",
    "mediaKey": "645cf56c-4df4-47ae-a7e2-8bef8ff5c2ee",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ajImage>
    <ajName>
      <Value><![CDATA[AJ Carter]]></Value>
    </ajName>
    <ajPostion>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </ajPostion>
    <brandonImage>
      <Value><![CDATA[[
  {
    "key": "c9bede45-04bf-4563-9873-1713dfc29da2",
    "mediaKey": "70c2cad7-4fdc-4867-89c1-cac90c58c35b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandonImage>
    <brandonName>
      <Value><![CDATA[Brandon Newton]]></Value>
    </brandonName>
    <brandonnImage>
      <Value><![CDATA[[
  {
    "key": "85b9e422-1b4f-42fc-81e6-27b2b85360d5",
    "mediaKey": "7374c089-c52b-4e63-8043-b017e1aa5a72",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandonnImage>
    <brandonnName>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </brandonnName>
    <brandonnPostion>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </brandonnPostion>
    <brandonPostion>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </brandonPostion>
    <ceoName>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </ceoName>
    <challengesSolutions>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </challengesSolutions>
    <closingThoughts>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </closingThoughts>
    <detailedInsights>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </detailedInsights>
    <introductionToBenefits>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.]]></Value>
    </introductionToBenefits>
    <kevinImage>
      <Value><![CDATA[[
  {
    "key": "19d4d667-c530-463c-9798-518379d9e873",
    "mediaKey": "861ddb1b-eca6-4ef4-917a-19294825feb1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </kevinImage>
    <kevinName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </kevinName>
    <kevinPostion>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </kevinPostion>
    <mirandaImage>
      <Value><![CDATA[[
  {
    "key": "ad8d8de2-1614-4c59-8621-72f95e5f609a",
    "mediaKey": "ec22e5e3-90f7-412d-80a2-3f7a0e42614b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mirandaImage>
    <mirandaName>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </mirandaName>
    <mirandaPostion>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </mirandaPostion>
    <ourTeamHeadline>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </ourTeamHeadline>
    <ourTeamTitle>
      <Value><![CDATA[Our expert]]></Value>
    </ourTeamTitle>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <reinforcementIdeas>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </reinforcementIdeas>
    <testimonialCompanyName>
      <Value><![CDATA[Swebank]]></Value>
    </testimonialCompanyName>
    <testimonialHeadline>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </testimonialHeadline>
    <testimonialName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </testimonialName>
    <testimonialReviews>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </testimonialReviews>
    <testimonialThumbNail>
      <Value><![CDATA[[
  {
    "key": "2bfe7c1d-bacf-4c70-9b81-abeb19e02d34",
    "mediaKey": "e70c77b4-5c4c-432a-b705-97132cdc33c3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </testimonialThumbNail>
    <testimonialTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </testimonialTitle>
    <tinaImage>
      <Value><![CDATA[[
  {
    "key": "49310680-c88e-42f1-a894-6f2699888f31",
    "mediaKey": "d15be718-b111-4ba6-a44f-75dc321425e7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </tinaImage>
    <tinaName>
      <Value><![CDATA[Tina Fox]]></Value>
    </tinaName>
    <tinaPostion>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </tinaPostion>
  </Properties>
</Content>