<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b92ee6a-1c97-4595-ab66-755657f966f3" Alias="Contact " Level="2">
  <Info>
    <Parent Key="feceb34a-dbff-40c4-97a7-290e4dbcdfe8">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-29T12:40:39</CreateDate>
    <NodeName Default="Contact " />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="52ff117a-c0b9-4159-b0e6-ebf8f0fbd4a8">contactPage</Template>
  </Info>
  <Properties>
    <callUsBackHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </callUsBackHeadline>
    <callUsBackText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </callUsBackText>
    <callUsBackTitle>
      <Value><![CDATA[Request a call back]]></Value>
    </callUsBackTitle>
    <contactForm>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2b843f27-d0c5-469d-ad78-ca38e9e862a9",
      "udi": "umb://element/5e71b7871715425b8b1dd488e584b7ba",
      "labelText": "name",
      "uniqueName": "Name",
      "placeholderText": "Name",
      "hideLabel": 1,
      "inputType": "[\u0022text\u0022]"
    },
    {
      "contentTypeKey": "2b843f27-d0c5-469d-ad78-ca38e9e862a9",
      "udi": "umb://element/95bacbcd84d64c21b160db0d67064325",
      "labelText": "phone",
      "uniqueName": "Phone",
      "placeholderText": "Phone",
      "hideLabel": 1,
      "inputType": "[\u0022phone \u0022]"
    },
    {
      "contentTypeKey": "2b843f27-d0c5-469d-ad78-ca38e9e862a9",
      "udi": "umb://element/368ffed2c4904d9caf383347a9233ce6",
      "labelText": "email",
      "uniqueName": "Email",
      "placeholderText": "Email address",
      "hideLabel": 1,
      "inputType": "[\u0022email\u0022]"
    },
    {
      "contentTypeKey": "eaae7392-8867-47f2-ae38-011d2163d9c8",
      "udi": "umb://element/4a995de3a8c04c399cc40344c32965fa",
      "buttonText": "Sumbit",
      "buttonType": "[\u0022sumbit\u0022]"
    },
    {
      "contentTypeKey": "fc5bb633-c301-4086-8a30-b6f2ede44e33",
      "udi": "umb://element/038cd82373c449afbc40ac61e2a2e46b",
      "labelText": null,
      "uniqueName": "Select",
      "placeholderText": "Financial consulting",
      "selectList": "[\u0022Financial consulting\u0022,\u0022Web Development\u0022,\u0022Digital Marketing\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5e71b7871715425b8b1dd488e584b7ba",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/95bacbcd84d64c21b160db0d67064325",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/368ffed2c4904d9caf383347a9233ce6",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/038cd82373c449afbc40ac61e2a2e46b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/4a995de3a8c04c399cc40344c32965fa",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactForm>
    <fossilGroup>
      <Value><![CDATA[[
  {
    "key": "7c2e229d-596e-4c55-9590-e4cbb166a2e1",
    "mediaKey": "7bd6078b-32e7-4a6a-8014-7a2dbdcd792a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </fossilGroup>
    <freedDomBird>
      <Value><![CDATA[[
  {
    "key": "3eab075a-bdfb-42b6-81ff-a6823364271b",
    "mediaKey": "8a1d5439-1929-4e63-9f62-b18f572fdb07",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </freedDomBird>
    <globeSlogan>
      <Value><![CDATA[[
  {
    "key": "ee603088-9a88-48d4-a6a3-0d4eee762788",
    "mediaKey": "99b61d2a-8e62-4f2b-84cf-54138e59f84b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </globeSlogan>
    <identity>
      <Value><![CDATA[[
  {
    "key": "34dda145-5576-4850-8957-b01719837e42",
    "mediaKey": "ec031b8f-a0fe-4d75-9e9b-db8cc9a4971f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </identity>
    <natural>
      <Value><![CDATA[[
  {
    "key": "26bbbf72-8c5c-4ca7-b85b-d7d6a0b78172",
    "mediaKey": "05f57287-5368-4cb8-9d4e-2615f658fbe8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </natural>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <simpleaf>
      <Value><![CDATA[[
  {
    "key": "f97ccfff-af23-43f1-a4e6-7dfd0d567bfa",
    "mediaKey": "8645ea77-4c1e-4220-983b-f826e3055a7c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </simpleaf>
  </Properties>
</Content>