<?xml version="1.0" encoding="utf-8"?>
<Content Key="feceb34a-dbff-40c4-97a7-290e4dbcdfe8" Alias="Official Website - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfficialWebsiteHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-25T14:19:11</CreateDate>
    <NodeName Default="Official Website - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="15a44e87-e736-4a6d-9527-00d503f9fa15">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSignature>
      <Value><![CDATA[[
  {
    "key": "81a81c0e-a9b6-4e65-b80b-2a12180227d7",
    "mediaKey": "060d3220-a7f3-4218-8ce0-f8f708232f4b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignature>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <callUsBackForm>
      <Value><![CDATA[]]></Value>
    </callUsBackForm>
    <chooseUsHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </chooseUsHeadline>
    <chooseUsText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </chooseUsText>
    <chooseUsUrl>
      <Value><![CDATA[/ourStoy]]></Value>
    </chooseUsUrl>
    <clientsNumber>
      <Value><![CDATA[4.000+ clients]]></Value>
    </clientsNumber>
    <customTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </customTitle>
    <formText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat]]></Value>
    </formText>
    <formTitle>
      <Value><![CDATA[Request a call back]]></Value>
    </formTitle>
    <fossilGroup>
      <Value><![CDATA[[
  {
    "key": "495eb230-09b5-468f-893d-f201636fa571",
    "mediaKey": "7bd6078b-32e7-4a6a-8014-7a2dbdcd792a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </fossilGroup>
    <freedDomBird>
      <Value><![CDATA[[
  {
    "key": "3e2f45df-110a-4226-aef7-02d1147a79bd",
    "mediaKey": "8a1d5439-1929-4e63-9f62-b18f572fdb07",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </freedDomBird>
    <globeSlogan>
      <Value><![CDATA[[
  {
    "key": "9d54be96-0e34-4bfe-a8b8-979875c5e235",
    "mediaKey": "99b61d2a-8e62-4f2b-84cf-54138e59f84b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </globeSlogan>
    <grouppImage>
      <Value><![CDATA[[
  {
    "key": "40242e1a-b49d-431f-b8ee-f0d742ff4f2c",
    "mediaKey": "706de875-f4b0-4336-a3a9-814d3b4cbfb6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </grouppImage>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "7942a024-e1bf-4e7e-ac48-e18c9a71853a",
    "mediaKey": "c966e151-dac4-448f-bad8-2b41d8594f69",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <identity>
      <Value><![CDATA[[
  {
    "key": "274bc469-1704-48c7-8150-bb5a3187cbd2",
    "mediaKey": "ec031b8f-a0fe-4d75-9e9b-db8cc9a4971f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </identity>
    <natural>
      <Value><![CDATA[[
  {
    "key": "842bd702-c273-4178-8666-806a706a1234",
    "mediaKey": "05f57287-5368-4cb8-9d4e-2615f658fbe8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </natural>
    <ourProjectsHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </ourProjectsHeadline>
    <ourProjectsTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </ourProjectsTitle>
    <pageTitle>
      <Value><![CDATA[Home ]]></Value>
    </pageTitle>
    <sectionHeadline>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </sectionHeadline>
    <sectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </sectionTitle>
    <signatureText>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </signatureText>
    <simpleaf>
      <Value><![CDATA[[
  {
    "key": "6cf778e3-c360-409e-b1f9-f03346b332bd",
    "mediaKey": "8645ea77-4c1e-4220-983b-f826e3055a7c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </simpleaf>
    <successStoryGlobeDot>
      <Value><![CDATA[[
  {
    "key": "7d5bdbb5-f288-4ab6-acc6-451303bf5351",
    "mediaKey": "63cac006-bcfd-47b7-8947-96ce16cf9518",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successStoryGlobeDot>
    <successStoryHeadline>
      <Value><![CDATA[Success story]]></Value>
    </successStoryHeadline>
    <successStoryImage>
      <Value><![CDATA[[
  {
    "key": "20a68c38-5096-4c91-bef1-76a04cc9f5ed",
    "mediaKey": "e61348b0-db38-489e-87bf-d6dfe4e3b7a8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successStoryImage>
    <successStoryStaticNr1>
      <Value><![CDATA[689]]></Value>
    </successStoryStaticNr1>
    <successStoryStaticNr1Text>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </successStoryStaticNr1Text>
    <successStoryStaticNr2>
      <Value><![CDATA[370]]></Value>
    </successStoryStaticNr2>
    <successStoryStaticNr2Text>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successStoryStaticNr2Text>
    <successStoryStaticNr3>
      <Value><![CDATA[125]]></Value>
    </successStoryStaticNr3>
    <successStoryStaticNr3Text>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successStoryStaticNr3Text>
    <successStoryTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successStoryTitle>
    <urlText>
      <Value><![CDATA[Read our story]]></Value>
    </urlText>
    <worldDotsImage>
      <Value><![CDATA[[
  {
    "key": "d7e295a7-2060-40a3-aa84-e229a071bd77",
    "mediaKey": "9d5b97dc-6d6c-4ad4-b79e-9c0299ec89fa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </worldDotsImage>
  </Properties>
</Content>