<?xml version="1.0" encoding="utf-8"?>
<Content Key="ecfb50f1-923e-402d-bd0d-67a1257a06e9" Alias="Projects" Level="2">
  <Info>
    <Parent Key="feceb34a-dbff-40c4-97a7-290e4dbcdfe8">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2024-09-28T19:37:32</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ce016a2-0a15-4eae-897c-b3725296b2ae">projectPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>