<?xml version="1.0" encoding="utf-8"?>
<Content Key="c571b3ef-44d4-4c5e-bb2b-d3d59315e2a8" Alias="Services" Level="2">
  <Info>
    <Parent Key="feceb34a-dbff-40c4-97a7-290e4dbcdfe8">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-27T15:29:12</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8407ca95-5134-485f-9114-bf20a6a079c5">serviceListPage</Template>
  </Info>
  <Properties>
    <asideHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </asideHeadline>
    <asideImage>
      <Value><![CDATA[[
  {
    "key": "1daa86fa-3d87-400b-ac49-dcf2347cbaa3",
    "mediaKey": "721a2671-7f13-48ee-9ed4-f2ef2e232af8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </asideImage>
    <asideSubText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </asideSubText>
    <asideText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </asideText>
    <asideTitle>
      <Value><![CDATA[About us]]></Value>
    </asideTitle>
    <customeHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customeHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>