<?xml version="1.0" encoding="utf-8"?>
<Content Key="e00ef50a-c96b-41c2-955e-2bd421a1f6d3" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-27T21:38:47</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutName>
      <Value><![CDATA[About]]></Value>
    </aboutName>
    <aboutUrl>
      <Value><![CDATA[/about/]]></Value>
    </aboutUrl>
    <backgroundDotsImage>
      <Value><![CDATA[[
  {
    "key": "e84c789a-9ede-41cf-adbd-d0d5caf16c67",
    "mediaKey": "9a0c3892-ccec-4cf8-b147-b33eca1ac4c7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundDotsImage>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "b4ffdcbe-942f-4c7f-b02d-50e78b960118",
    "mediaKey": "59f365ef-138b-4758-892c-ee8c98ec91d6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImage>
    <contactInfoHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactInfoHeadline>
    <contactName>
      <Value><![CDATA[Contact]]></Value>
    </contactName>
    <contactUrl>
      <Value><![CDATA[/contact/]]></Value>
    </contactUrl>
    <officeEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmail>
    <officeEmailText>
      <Value><![CDATA[E-mail address]]></Value>
    </officeEmailText>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officeLocationText>
      <Value><![CDATA[Office location]]></Value>
    </officeLocationText>
    <officeNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officeNumber>
    <officeNumberText>
      <Value><![CDATA[Phone number]]></Value>
    </officeNumberText>
    <personsImage>
      <Value><![CDATA[[
  {
    "key": "590f05fa-ed0c-4c09-a373-886d735224cc",
    "mediaKey": "bd845371-092d-43a0-a9a8-c67a35675aea",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </personsImage>
    <projectsName>
      <Value><![CDATA[Projects]]></Value>
    </projectsName>
    <projectsUrl>
      <Value><![CDATA[/projects/]]></Value>
    </projectsUrl>
    <servicesName>
      <Value><![CDATA[Services]]></Value>
    </servicesName>
    <servicesUrl>
      <Value><![CDATA[/services]]></Value>
    </servicesUrl>
    <siteLogoType>
      <Value><![CDATA[[
  {
    "key": "c54e85f4-cc6d-489c-b5d2-1b07574cece0",
    "mediaKey": "aa611b71-addf-4234-968d-384d2ac50e6d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogoType>
    <siteName>
      <Value><![CDATA[Onatrix Inc.]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for You]]></Value>
    </siteTagline>
  </Properties>
</Content>