<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe030ae8-076b-44fe-96ad-20c6c66fa52d" Alias="Button - Button Types" Level="1">
  <Info>
    <Name>Button - Button Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "sumbit",
    "rest"
  ]
}]]></Config>
</DataType>