<?xml version="1.0" encoding="utf-8"?>
<DataType Key="571a9e47-5a60-4c77-b040-65d7d7fcc40a" Alias="Contact Page - ContactForm - Block List " Level="1">
  <Info>
    <Name>Contact Page - ContactForm - Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2b843f27-d0c5-469d-ad78-ca38e9e862a9",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "984fa90c-b496-4604-ad49-e15d9bfde512",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "eaae7392-8867-47f2-ae38-011d2163d9c8",
      "label": "Button - {=buttonType}"
    },
    {
      "contentElementTypeKey": "fc5bb633-c301-4086-8a30-b6f2ede44e33",
      "label": "InputSelect - {=uniqueName}"
    }
  ]
}]]></Config>
</DataType>