<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d65bd060-fcdc-49fb-b2ad-1bf522666c61" Alias="InputSelect - Select - list - Checkbox List " Level="1">
  <Info>
    <Name>InputSelect - Select - list - Checkbox List </Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CheckBoxList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial consulting",
    "Web Development",
    "Digital Marketing"
  ]
}]]></Config>
</DataType>