<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79151ae1-1f0b-4055-b035-2e3df18b7a3d" Alias="InputText - Input Types" Level="1">
  <Info>
    <Name>InputText - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "phone "
  ]
}]]></Config>
</DataType>