<?xml version="1.0" encoding="utf-8"?>
<Media Key="043234dc-7d9b-48ec-bd5a-ba41b085a4da" Alias="Aaron.png" Level="3">
  <Info>
    <Parent Key="8f356de8-5404-4fdc-ad14-179dc4dbe36b">Team</Parent>
    <Path>/About/Team/Aaronpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T01:02:42</CreateDate>
    <NodeName Default="Aaron.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/kp5hjmxs/aaron.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>