<?xml version="1.0" encoding="utf-8"?>
<Media Key="645cf56c-4df4-47ae-a7e2-8bef8ff5c2ee" Alias="Aj.png" Level="3">
  <Info>
    <Parent Key="8f356de8-5404-4fdc-ad14-179dc4dbe36b">Team</Parent>
    <Path>/About/Team/Ajpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T01:02:30</CreateDate>
    <NodeName Default="Aj.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2m5bvuu3/aj.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>