<?xml version="1.0" encoding="utf-8"?>
<Media Key="7409b179-e465-4f09-ad9a-00889224129a" Alias="assurance.svg" Level="3">
  <Info>
    <Parent Key="2fe49f40-0d34-4c08-8eb7-1c79609ddaf1">services</Parent>
    <Path>/home/services/assurancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:35:28</CreateDate>
    <NodeName Default="assurance.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rmgkxft4/assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>