<?xml version="1.0" encoding="utf-8"?>
<Media Key="6146c0ee-2d7b-45a7-af72-664b553c0a45" Alias="bonds" Level="3">
  <Info>
    <Parent Key="2fe49f40-0d34-4c08-8eb7-1c79609ddaf1">services</Parent>
    <Path>/home/services/bonds</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:35:37</CreateDate>
    <NodeName Default="bonds" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dr4pja1a/bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>