<?xml version="1.0" encoding="utf-8"?>
<Media Key="7374c089-c52b-4e63-8043-b017e1aa5a72" Alias="Brandon.png" Level="3">
  <Info>
    <Parent Key="8f356de8-5404-4fdc-ad14-179dc4dbe36b">Team</Parent>
    <Path>/About/Team/Brandonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T01:02:01</CreateDate>
    <NodeName Default="Brandon.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ayfdfrkc/brandon2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>