<?xml version="1.0" encoding="utf-8"?>
<Media Key="70c2cad7-4fdc-4867-89c1-cac90c58c35b" Alias="Brandon2.png" Level="3">
  <Info>
    <Parent Key="8f356de8-5404-4fdc-ad14-179dc4dbe36b">Team</Parent>
    <Path>/About/Team/Brandon2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T01:02:16</CreateDate>
    <NodeName Default="Brandon2.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/laaijrvv/brandon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>