<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a0c3892-ccec-4cf8-b147-b33eca1ac4c7" Alias="Component.svg" Level="2">
  <Info>
    <Parent Key="c76159ca-3e86-4f9b-95c6-9d7f85e2484d">Contact Information</Parent>
    <Path>/ContactInformation/Componentsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T15:51:09</CreateDate>
    <NodeName Default="Component.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mccl24hx/component.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>