<?xml version="1.0" encoding="utf-8"?>
<Media Key="c76159ca-3e86-4f9b-95c6-9d7f85e2484d" Alias="Contact Information" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-28T15:50:17</CreateDate>
    <NodeName Default="Contact Information" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>