<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d5b97dc-6d6c-4ad4-b79e-9c0299ec89fa" Alias="dot-map.svg" Level="3">
  <Info>
    <Parent Key="be66655e-c152-4212-8203-69fd5c9a11b5">whyChooseUs</Parent>
    <Path>/home/whyChooseUs/dotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:37:02</CreateDate>
    <NodeName Default="dot-map.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fyvps51x/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>