<?xml version="1.0" encoding="utf-8"?>
<Media Key="63cac006-bcfd-47b7-8947-96ce16cf9518" Alias="dot-map.svg" Level="3">
  <Info>
    <Parent Key="c7e1a187-5107-464e-add1-071ee970ad6a">successStory</Parent>
    <Path>/home/successStory/dotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:33:25</CreateDate>
    <NodeName Default="dot-map.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4r4hrapg/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>