<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed2201b6-4f42-4c1d-af12-9713ab866c35" Alias="financial.svg" Level="3">
  <Info>
    <Parent Key="2fe49f40-0d34-4c08-8eb7-1c79609ddaf1">services</Parent>
    <Path>/home/services/financialsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:35:48</CreateDate>
    <NodeName Default="financial.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/is4iad0z/financial.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>