<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bd6078b-32e7-4a6a-8014-7a2dbdcd792a" Alias="fossilgroup" Level="3">
  <Info>
    <Parent Key="bdb33702-dead-447f-a510-bad7b9ef4340">Partners</Parent>
    <Path>/home/Partners/fossilgroup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T13:39:10</CreateDate>
    <NodeName Default="fossilgroup" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/atgjbtmo/06.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>