<?xml version="1.0" encoding="utf-8"?>
<Media Key="99b61d2a-8e62-4f2b-84cf-54138e59f84b" Alias="globe" Level="3">
  <Info>
    <Parent Key="bdb33702-dead-447f-a510-bad7b9ef4340">Partners</Parent>
    <Path>/home/Partners/globe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T13:38:56</CreateDate>
    <NodeName Default="globe" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/uxlpalyl/05.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>