<?xml version="1.0" encoding="utf-8"?>
<Media Key="59f365ef-138b-4758-892c-ee8c98ec91d6" Alias="globe.svg" Level="2">
  <Info>
    <Parent Key="4e9216c5-62f3-4a77-b9e8-86e8819172fa">services</Parent>
    <Path>/services/globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T22:18:35</CreateDate>
    <NodeName Default="globe.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dxmfdo2q/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>