<?xml version="1.0" encoding="utf-8"?>
<Media Key="706de875-f4b0-4336-a3a9-814d3b4cbfb6" Alias="grupp-image.svg" Level="3">
  <Info>
    <Parent Key="be66655e-c152-4212-8203-69fd5c9a11b5">whyChooseUs</Parent>
    <Path>/home/whyChooseUs/gruppImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:37:11</CreateDate>
    <NodeName Default="grupp-image.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q3kn5evl/grupp-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>