<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b036290-52b4-4cff-a571-7e1fd8aebb18" Alias="happy-office.svg" Level="2">
  <Info>
    <Parent Key="4e9216c5-62f3-4a77-b9e8-86e8819172fa">services</Parent>
    <Path>/services/happyOfficesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T13:24:38</CreateDate>
    <NodeName Default="happy-office.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/d4uelto3/happyoffice.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>