<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a679ef1-6e74-4f37-addf-9e34ea233fde" Alias="Header" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-27T20:11:11</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>