<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f223fd3-bf34-4c64-9184-0b47f1eaa982" Alias="home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T13:25:34</CreateDate>
    <NodeName Default="home" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>