<?xml version="1.0" encoding="utf-8"?>
<Media Key="94337b45-09ae-4c8e-bb80-023a7b2b30ed" Alias="Icon.svg" Level="2">
  <Info>
    <Parent Key="95e5e172-e2b8-4d7d-ada6-1bfdcc34734b">Projects</Parent>
    <Path>/Projects/Iconsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T20:30:56</CreateDate>
    <NodeName Default="Icon.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w5djc3vv/icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>