<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cf98894-516b-4d72-b1f2-5eea035f7b88" Alias="Img-1-4-1.svg" Level="2">
  <Info>
    <Parent Key="95e5e172-e2b8-4d7d-ada6-1bfdcc34734b">Projects</Parent>
    <Path>/Projects/Img141svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T19:42:40</CreateDate>
    <NodeName Default="Img-1-4-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/my0fw1tq/img-1-4-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>