<?xml version="1.0" encoding="utf-8"?>
<Media Key="e70c77b4-5c4c-432a-b705-97132cdc33c3" Alias="KevinGardner.svg" Level="2">
  <Info>
    <Parent Key="ff05e64d-ba82-47df-896f-4e1710129269">About</Parent>
    <Path>/About/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T01:00:36</CreateDate>
    <NodeName Default="KevinGardner.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i1fk2bkx/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>