<?xml version="1.0" encoding="utf-8"?>
<Media Key="861ddb1b-eca6-4ef4-917a-19294825feb1" Alias="kevin.png" Level="3">
  <Info>
    <Parent Key="8f356de8-5404-4fdc-ad14-179dc4dbe36b">Team</Parent>
    <Path>/About/Team/kevinpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T01:01:44</CreateDate>
    <NodeName Default="kevin.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/sqifwmgp/kevin-gardner-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>