<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa611b71-addf-4234-968d-384d2ac50e6d" Alias="Logo.svg" Level="2">
  <Info>
    <Parent Key="0a679ef1-6e74-4f37-addf-9e34ea233fde">Header</Parent>
    <Path>/Header/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T20:11:55</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qotmgsge/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>