<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec22e5e3-90f7-412d-80a2-3f7a0e42614b" Alias="Miranda.png" Level="3">
  <Info>
    <Parent Key="8f356de8-5404-4fdc-ad14-179dc4dbe36b">Team</Parent>
    <Path>/About/Team/Mirandapng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T01:01:29</CreateDate>
    <NodeName Default="Miranda.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nqxhiwu4/miranda.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>