<?xml version="1.0" encoding="utf-8"?>
<Media Key="05f57287-5368-4cb8-9d4e-2615f658fbe8" Alias="natural" Level="3">
  <Info>
    <Parent Key="bdb33702-dead-447f-a510-bad7b9ef4340">Partners</Parent>
    <Path>/home/Partners/natural</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T13:38:28</CreateDate>
    <NodeName Default="natural" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bc2lhmyb/03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>