<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdb33702-dead-447f-a510-bad7b9ef4340" Alias="Partners" Level="2">
  <Info>
    <Parent Key="9f223fd3-bf34-4c64-9184-0b47f1eaa982">home</Parent>
    <Path>/home/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T13:25:56</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>