<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd845371-092d-43a0-a9a8-c67a35675aea" Alias="PersonImg.svg" Level="2">
  <Info>
    <Parent Key="c76159ca-3e86-4f9b-95c6-9d7f85e2484d">Contact Information</Parent>
    <Path>/ContactInformation/PersonImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T15:50:52</CreateDate>
    <NodeName Default="PersonImg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qpxcmxzw/imgperson.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>