<?xml version="1.0" encoding="utf-8"?>
<Media Key="a697d8c6-aa4d-4bfd-9c7e-745b09b6ce97" Alias="pj1.svg" Level="3">
  <Info>
    <Parent Key="c195ef66-298b-4eed-a37e-3526cb28e630">projects</Parent>
    <Path>/home/projects/pj1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:32:01</CreateDate>
    <NodeName Default="pj1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/grsdkrcw/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>