<?xml version="1.0" encoding="utf-8"?>
<Media Key="0397129d-f617-4256-98e5-3a39769d7beb" Alias="pj2.svg" Level="3">
  <Info>
    <Parent Key="c195ef66-298b-4eed-a37e-3526cb28e630">projects</Parent>
    <Path>/home/projects/pj2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:32:15</CreateDate>
    <NodeName Default="pj2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n4xdlyim/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>