<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b1771d4-2274-44b9-8b18-a1b3a729bc22" Alias="pj3.svg" Level="3">
  <Info>
    <Parent Key="c195ef66-298b-4eed-a37e-3526cb28e630">projects</Parent>
    <Path>/home/projects/pj3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:32:26</CreateDate>
    <NodeName Default="pj3.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e1gllglp/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>