<?xml version="1.0" encoding="utf-8"?>
<Media Key="32f65f1b-4157-4114-8e58-90d029cb8539" Alias="pj4.svg" Level="3">
  <Info>
    <Parent Key="c195ef66-298b-4eed-a37e-3526cb28e630">projects</Parent>
    <Path>/home/projects/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:32:36</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3hrfjucm/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>