<?xml version="1.0" encoding="utf-8"?>
<Media Key="c195ef66-298b-4eed-a37e-3526cb28e630" Alias="projects" Level="2">
  <Info>
    <Parent Key="9f223fd3-bf34-4c64-9184-0b47f1eaa982">home</Parent>
    <Path>/home/projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T13:31:40</CreateDate>
    <NodeName Default="projects" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>