<?xml version="1.0" encoding="utf-8"?>
<Media Key="95e5e172-e2b8-4d7d-ada6-1bfdcc34734b" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-28T19:41:48</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>