<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb2c18a4-bb9a-432a-a3c2-f25a3267a45a" Alias="risk" Level="3">
  <Info>
    <Parent Key="2fe49f40-0d34-4c08-8eb7-1c79609ddaf1">services</Parent>
    <Path>/home/services/risk</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:35:58</CreateDate>
    <NodeName Default="risk" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k0sj2gmb/risk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>