<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e9216c5-62f3-4a77-b9e8-86e8819172fa" Alias="services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T13:23:37</CreateDate>
    <NodeName Default="services" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>