<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fe49f40-0d34-4c08-8eb7-1c79609ddaf1" Alias="services" Level="2">
  <Info>
    <Parent Key="9f223fd3-bf34-4c64-9184-0b47f1eaa982">home</Parent>
    <Path>/home/services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T13:35:11</CreateDate>
    <NodeName Default="services" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>