<?xml version="1.0" encoding="utf-8"?>
<Media Key="060d3220-a7f3-4218-8ce0-f8f708232f4b" Alias="signature-tina.png" Level="2">
  <Info>
    <Parent Key="60cf8e2c-fd63-4309-857a-05fb4fa6d50f">Hero Slider</Parent>
    <Path>/HeroSlider/signatureTinapng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T13:22:33</CreateDate>
    <NodeName Default="signature-tina.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/v52exme0/onlinesignaturesnet-302-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>