<?xml version="1.0" encoding="utf-8"?>
<Media Key="8645ea77-4c1e-4220-983b-f826e3055a7c" Alias="simpleaf" Level="3">
  <Info>
    <Parent Key="bdb33702-dead-447f-a510-bad7b9ef4340">Partners</Parent>
    <Path>/home/Partners/simpleaf</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T13:38:44</CreateDate>
    <NodeName Default="simpleaf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5aqagmdx/04.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>