<?xml version="1.0" encoding="utf-8"?>
<Media Key="c966e151-dac4-448f-bad8-2b41d8594f69" Alias="sl-1.webp" Level="2">
  <Info>
    <Parent Key="60cf8e2c-fd63-4309-857a-05fb4fa6d50f">Hero Slider</Parent>
    <Path>/HeroSlider/sl1webp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:40:06</CreateDate>
    <NodeName Default="sl-1.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/unomik45/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>