<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e1e4f6d-ad0e-4f98-9004-16efda1863ae" Alias="statistic" Level="3">
  <Info>
    <Parent Key="2fe49f40-0d34-4c08-8eb7-1c79609ddaf1">services</Parent>
    <Path>/home/services/statistic</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:36:08</CreateDate>
    <NodeName Default="statistic" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t5zly1av/statistic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>