<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7e1a187-5107-464e-add1-071ee970ad6a" Alias="successStory" Level="2">
  <Info>
    <Parent Key="9f223fd3-bf34-4c64-9184-0b47f1eaa982">home</Parent>
    <Path>/home/successStory</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T13:26:31</CreateDate>
    <NodeName Default="successStory" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>