<?xml version="1.0" encoding="utf-8"?>
<Media Key="78119c52-93ff-4401-8201-093e5ed2798a" Alias="talkmeeting.svg" Level="2">
  <Info>
    <Parent Key="4e9216c5-62f3-4a77-b9e8-86e8819172fa">services</Parent>
    <Path>/services/talkmeetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T13:25:11</CreateDate>
    <NodeName Default="talkmeeting.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1vlfptuw/talkmeeting.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>