<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8fb739e-5585-4c4f-a2f7-438826fca67a" Alias="tax" Level="3">
  <Info>
    <Parent Key="2fe49f40-0d34-4c08-8eb7-1c79609ddaf1">services</Parent>
    <Path>/home/services/tax</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:36:18</CreateDate>
    <NodeName Default="tax" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nthfsou4/tax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>