<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f356de8-5404-4fdc-ad14-179dc4dbe36b" Alias="Team" Level="2">
  <Info>
    <Parent Key="ff05e64d-ba82-47df-896f-4e1710129269">About</Parent>
    <Path>/About/Team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-29T00:59:46</CreateDate>
    <NodeName Default="Team" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>