<?xml version="1.0" encoding="utf-8"?>
<Media Key="38cfa791-a8d7-4483-9acb-4079504cfd69" Alias="tinaFox.svg" Level="2">
  <Info>
    <Parent Key="ff05e64d-ba82-47df-896f-4e1710129269">About</Parent>
    <Path>/About/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-29T01:00:23</CreateDate>
    <NodeName Default="tinaFox.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mmng1wwm/tinafox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>