<?xml version="1.0" encoding="utf-8"?>
<Media Key="d15be718-b111-4ba6-a44f-75dc321425e7" Alias="tina.png" Level="3">
  <Info>
    <Parent Key="8f356de8-5404-4fdc-ad14-179dc4dbe36b">Team</Parent>
    <Path>/About/Team/tinapng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T01:01:10</CreateDate>
    <NodeName Default="tina.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/s2wb0z1y/tina.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>