<?xml version="1.0" encoding="utf-8"?>
<Media Key="e61348b0-db38-489e-87bf-d6dfe4e3b7a8" Alias="video-image.svg" Level="3">
  <Info>
    <Parent Key="c7e1a187-5107-464e-add1-071ee970ad6a">successStory</Parent>
    <Path>/home/successStory/videoImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T13:33:34</CreateDate>
    <NodeName Default="video-image.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/il0lcbbd/video-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>