<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d8d6f74-7500-4606-b309-2da0e5e95847" Alias="women.svg" Level="2">
  <Info>
    <Parent Key="95e5e172-e2b8-4d7d-ada6-1bfdcc34734b">Projects</Parent>
    <Path>/Projects/womensvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-28T19:42:52</CreateDate>
    <NodeName Default="women.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q1jc51y1/img-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>